<div class="navbar">
    <button (click)="login()"  class="btn btn-primary">Login</button>
</div>

<div style="display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 0vh auto;"
    class="container">
    <h2 style="font-size: 4rem;">Welcome to ClariEats</h2>
    <div style="display: flex; justify-content: center;">
        <div (click)="registerAdmin()" class="CTAbutton">
            <h5>Add Admin</h5>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div (click)="registerManager()" class="CTAbutton">
            <h5>Add manager</h5>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div (click)="registerStaff()" class="CTAbutton">
            <h5>Add Staff</h5>
        </div>
    </div>


</div>